<html>
    <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    
    <div id="app-6">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id="app-7">
        <ol>
            <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id"
            ></todo-item>
        </ol>     
    </div>
    <div id="example">
        <p>Insert your name:</p>
        <input v-model="inputName"></input>
        <p>Original message: "{{ message }}"</p>
        <p>Computed reversed message: "{{ reversedMessage }}"</p>
        <p>Now: "{{ now }}"</p>
        <p id="demo">{{ fullName }}</p>
    </div>
    <div id="lifecycle">
        <img src="img/lifecycle.png"></img>
    </div>
</html>
<!-- development version, includes helpful console warnings -->

22<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/main.js"></script>